.viaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px; /* Espaciado entre elementos */
  padding-top: 75px;
  font-family: 'Winter', sans-serif;
}
